* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2C3E50;
}

.navbar .navbar-brand,
.navbar .navbar-toggler-icon {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

img,
svg {
    width: 100%;
    height: 100%;
}

#avatar {
    width: 20%;
}


.top-footer {
    background-color: #3A546D;
}

.bottom-footer {
    background-color: #2C3E50;
}



.lines::after,
.lines::before {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #fff;
    vertical-align: middle;
    display: inline-block;
}


.lines:after {
    margin-left: 5px;
}

.lines:before {
    margin-right: 5px;
}


.lines-black::after,
.lines-black::before {
    content: "";
    width: 100px;
    height: 3px;
    background-color: black;
    vertical-align: middle;
    display: inline-block;
}


.lines-black:after {
    margin-left: 5px;
}

.lines-black:before {
    margin-right: 5px;
}

.text-white {
    color: #fff;
}



.underline-input {
    padding: 10px 5px;
    border-bottom: 1px solid grey;
    border: none;
    display: block;
    width: 100%;
}

.download {
    color: #fff;
    background-color: #1ABC9C;
    border-radius: 5px;
    padding: 10px 5px;
    width: 10%;
    margin-top: 10px;
    display: block;
    border: #fff 1px solid;
}

#bn-send {
    color: #fff;
    background-color: #1ABC9C;
    border-radius: 5px;
    padding: 10px 5px;
    width: 5%;
    margin-top: 10px;
    display: block;
    border: none;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-red {
    background-color: #E74C3C;
}

.bg-darkgreen {
    background-color: #1EA4B6;
}

.bg-black {
    background-color: black;
}

.bg-seagreen {
    background-color: #1C83C1;
}

.bg-blue {
    background-color: #0E38B5;
}

.bg-tan {
    background-color: #CCB2A3;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}