.box {
    min-height: 150px;
    border: 1px solid black;
    background-color: red;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-red {
    background-color: #E74C3C;
}

.bg-darkgreen {
    background-color: #1EA4B6;
}

.bg-black {
    background-color: black;
}

.bg-seagreen {
    background-color: #1C83C1;
}

.bg-blue {
    background-color: #0E38B5;
}

.bg-tan {
    background-color: #CCB2A3;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}